<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452674146627-2f21oobk9lv2kfmq9218tjfud7e0cg3d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452674146627-2f21oobk9lv2kfmq9218tjfud7e0cg3d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>452674146627-j3mr15ut78816443dh14jtlq3ql9orcp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDg8wsm7RZp_ADrzYRrlCxjPIcOYJghuko</string>
	<key>GCM_SENDER_ID</key>
	<string>452674146627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.acsea.acseaapp</string>
	<key>PROJECT_ID</key>
	<string>acsea-app</string>
	<key>STORAGE_BUCKET</key>
	<string>acsea-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452674146627:ios:19fed68446d6a381</string>
	<key>DATABASE_URL</key>
	<string>https://acsea-app.firebaseio.com</string>
</dict>
</plist>